<style>
    a{
      color: inherit;
      text-decoration: none;
    }
    .nav-bar:hover{
      
    }
    .nav-bar{
      background-color: chocolate;
      padding: 15px;
      font-weight: bold;
      border-radius: 30px;
    }
  </style>
<nav>
    <a href="#" class="nav-bar">Accueil</a>
    <a href="#" class="nav-bar">About</a>
    <a href="#" class="nav-bar">Services</a>
</nav>