@layout.app({ title: "Welcome" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('main')
   @include('partials/nav-bar.edge')
    <h1>Hello world</h1>
  @endslot
@end
